/*
------ COLOR PALETTE ------
*/

// Primary Colors
$primary-blue: #14a0eb;
$primary-darkGreen: #00a59a;
$primary-grey: #c2d3e2;
$primary-navyBlue: #003366;
$primary-orange: #f58c60;
$primary-skyBlue: #99ccff;
$primary-white: #ffffff;
$primary-yellow: #fec409;
$primary-lightBlue: #ebf5ff;

// Secondary Colors
$secondary-black: #333333;
$secondary-grey: #c9ccce;
$secondary-lightBrown: #e7ad83;
$secondary-lightGreen: #b4c9a4;
$secondary-lightGrey: #e3e3e2;
$secondary-red: #db4d48;
$secondary-pink: #ffa5ae;

// Background Colors
$background-lightblue: #e6f3ff;
$background-blue: #a3ccfa;
$background-grayishblue: #c5d3e0;

// List Bullet Colors
$bullet-blue: #4a9ee5;

// Border Colors
$border-green: #00bda3;

$status-green: #62c756;

$color-black: #000000;

/*
------ VIEWPORTS ------
*/
$tablet-portrait: 768;
$tablet-landscape: 1024;
$desktop: 1200;
$max-layout-width: 1600;

// -------FONT FAMILY------
$Conv_Kanit-Regular: "Conv_Kanit-Regular";
$Conv_Kanit-Medium: "Conv_Kanit-Medium";
$Conv_Kanit-Light: "Conv_Kanit-Light";
$Conv_Kanit-Bold: "Conv_Kanit-Bold";
$pridiLight: "Pridi-Light";
/*
------ PATHS ------
*/

$font-path: "./../resources/fonts/";

/*
------ FONTS ------
*/

$base-font-size: 16;
